body {
    background-color: #b9efdc;
    margin: 0;
    font-family: "Exo 2", sans-serif;
}

h2 {
    text-align: center;
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
}

.back-button, .posts-button {
    cursor: pointer;
    background-color: #8f8fef;
    padding: 5px 10px;
    margin: 10px;
    border: 2px solid silver;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-family: "Exo 2", sans-serif;
}

.back-button:hover, .posts-button:hover {
    background-color: #acf15e;
}

.details-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-block {
    border: 2px solid silver;
    border-radius: 5px;
    width: 50vw;
    padding: 5px;
    background-color: #c3c3f3;
    font-weight: 500;
}

.field {
    text-align: center;
}

.button-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.posts-button {
    font-family: "Exo 2", sans-serif;
    width: 90%;
}

.none-block {
    display: none;
}

.btn-color {
    background-color: #acf15e;
}

.posts-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.post-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    background-color: #c3c3f3;
    border: 2px solid silver;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.post-block > h5 {
    text-align: center;
    font-family: "Exo 2", sans-serif;
    /*font-size: 20px;*/
    font-weight: 800;
}

.post-block > a {
    cursor: pointer;
}

.post-block > a:hover {
    color: #acf15e;
}

